.wrong {
  color:red;
}



body {
  position:absolute;
  text-align:center;
  margin:0;
  height:100vh;
  width:100vw;
}

#block1 {
  position:absolute;
  height:40vh;
  width:100vw;
  font-size:3vh;
}

#block2 {
  position:absolute;
  height:5vh;
  width:100vw;
  top:42vh;
}

#season_not_summer {
  height:2.5vh;
  width:28vw;
  font-size:1.5vh;
}

#season_summer {
  height:2.5vh;
  width:28vw;
  font-size:1.5vh;
}
#season_mix {
  height:2.5vh;
  width:28vw;
  font-size:1.5vh;
}


#block3 {
  position:absolute;
  height:5vh;
  width:100vw;
  top:47vh;
}

#not_by_day {
  height:2.5vh;
  width:28vw;
  font-size:1.5vh;
}

#by_day {
  height:2.5vh;
  width:28vw;
  font-size:1.5vh;
}

#block4_1 {
  display:none;
  height:40vh;
  width:100vw;
  position:absolute;
  top:68vh;
  font-size:3vh;
}

#block4_2 {
  display:none;
  height:40vh;
  width:100vw;
  position:absolute;
  top:68vh;
  font-size:3vh;
}
#not_summer_calculate {
  position:absolute;
  display:none;
  height:15vh;
  width:100vw;
  font-size:3vh;
  top:50vh;
}
#summer_calculate {
  position:absolute;
  display:none;
  height:15vh;
  width:100vw;
  font-size:3vh;
  top:50vh;
}
#mix_calculate {
  position:absolute;
  display:none;
  height:15vh;
  width:100vw;
  font-size:3vh;
  top:50vh;
}


#start_calculate {
  position:absolute;
  display:none;
  height:5vh;
  width:100vw;
  font-size:4vh;
  top:90vh;
  left:0vw;

}

#result {
  position:absolute;
  display:none;
  color:blue;
  height:30vh;
  width:100vw;
  top:94vh;
  font-size:4.5vh;
}
